@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body{
    background: black;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#AREA{
    position: absolute;
}
.game-container{
    height: 756px;
    width: 1004px;

    display: grid;
    grid-template-columns: 1004px 100px;
    grid-template-rows: 100px 656px 2em 60px;
    grid-template-areas: 
    "room pigcode"
    "room keys"
    "message message"
    "button .";
    transform: scale(1);
    transform-origin: left top;

}
.room-div{
    grid-area: room;
    height: 100%;
    width: 100%;


    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    

}
.inv-button:hover{
    cursor: zoom-in;
}
.room-button-container{
    grid-area: button;

    display: flex;
    justify-content: center;
}
.room-button{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: white;
}
#left-button{
    background:url("img/other/left-arrow.jpg");
    left: 0;
}
#right-button{
    background:url("img/other/right-arrow.jpg");
    right: 0;
}
#back-button{
    background:url("img/other/back-arrow.jpg");
    align-self: center;
}


.message-container{
    grid-area: message;
    width: 100%;
    color: whitesmoke;
}
#pig-code{
    grid-area: pigcode;
    padding: 1em;
    width: 100%;
    color: whitesmoke;
}
#start-screen{
    position: relative;
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}
#start-screen h1,h2{
    text-align: center;
}
#settings{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    border: solid;
    border-color: cornflowerblue;
    border-radius: 2em;
    border-width: 1em;
}
#settings input{
    position: relative;

    width: 20%;
}
#settings button{
    margin: 3em;
    height: 2em;
    width: 30%;
}


.inv-button{
    position: absolute;
}
.door:hover{
    cursor: pointer;
}

#door-1{
    position: absolute; 
    left:127px; top:69px; width:673px; height:646px;
}
#door-2{
    position: absolute; 
    left:119px;top:58px;width:176px;height:700px;
}
#door-4{
    position: absolute; 
    left:434px; top:204px; width:163px; height:356px;
}
#door-5{
    position: absolute; 
    left:395px; top:205px; width:184px; height:382px;
}
#door-6{  
    position: absolute; 
    left:608px; top:208px; width:184px; height:380px;
}
#door-7{ 
    position: absolute; 
    left:412px; top:262px; width:170px; height:295px; 
}
#door-8{  
    position: absolute; 
    left:621px; top:104px; width:221px; height:480px; 
}
#door-9{  
    position: absolute; 
    left:379px; top:273px; width:154px; height:311px;
}
#door-10{  
    position: absolute; 
    left:554px; top:208px; width:198px; height:383px;
}
#door-11{  
    position: absolute; 
    left:658px; top:202px; width:323px; height:557px; 
}
#door-12{  
    position: absolute; 
    left:257px; top:105px; width:290px; height:637px; 
}
#door-13{
    position: absolute; 
    left:315px; top:17px; width:155px; height:602px; 
}
#door-14{
    position: absolute; 
    left:558px; top:11px; width:345px; height:742px; 
}
#door-15{
    position: absolute; 
    left:304px; top:68px; width:344px; height:695px; 
}
#door-16{
    position: absolute; 
    left:565px; top:119px; width:427px; height:646px; 
}
#door-17{
    position: absolute; 
    left:301px; top:225px; width:160px; height:369px; 
}
#door-18{
    position: absolute; 
    left:190px; top:203px; width:194px; height:411px; 
}
#door-19{
    position: absolute; 
    left:724px; top:245px; width:173px; height:337px; 
}
#door-20{
    position: absolute; 
    left:480px; top:212px; width:177px; height:476px; 
}

#door-21{
    position: absolute; 
    left:178px; top:176px; width:124px; height:341px;
}


#door-22{
    position: absolute; 
    left:1px; top:47px; width:194px; height:680px; 
}

#door-23{
    position: absolute; 
    left:207px; top:110px; width:447px; height:287px; 
}
#door-31{
    position: absolute; 
    left:298px; top:350px; width:420px; height:128px;
}




#key-1{
    background-image: url("img/room_hallen/hallen_3-1_key.jpg");
    position: relative;
    left:335px; top:287px; width:58px; height:100px; 
    
    background-position:-335px -287px;
    background-repeat: no-repeat;
}
#key-2{
    background-image: url("img/room_upstairshallen/room_23-1-key.jpg");
    position: relative;
    left:649px; top:184px; width:58px; height:100px; 
    background-position:-649px -184px;
    background-repeat: no-repeat;
}
#key-3{
    background-image: url("img/room_upstairshallen/room_22-1-1key.jpg");
    position: relative;
    left:347px; top: 450px; width:58px; height:100px; 
    background-position:-370px -450px;
    background-repeat: no-repeat;
}
#key-4{
    background-image: url("img/room_storsal/room_27-2-1key.jpg");
    position: relative;
    left:393px; top:531px; width:58px; height:100px;
     background-position:-393px -531px;
    
    background-repeat: no-repeat;
}
#key-5{
    background-image: url("img/room_storsal/room_27-1-1key.jpg");
    position: relative;
    left:426px; top:471px; width:58px; height:100px;
     background-position:-426px -471px;
    background-repeat: no-repeat;
}

#key-6{
    background-image: url("img/room_storsal/room_27-3-1key.jpg");
    position: relative;
    left:474px; top:271px; width:58px; height:100px; 
    background-position:-474px -271px;
    background-repeat: no-repeat;
}
#key-7{
    background-image: url("img/room_cafe/room_3-1key.jpg");
    position: relative;
    left:484px; top:315px; width:58px; height:100px; background-position:-484px -315px;
    background-repeat: no-repeat;
}


#candle-1{
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    left:243px; top:499px; width:45px; height:55px; background-position:-243px -499px;
}
#candle-2{
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    left:298px; top:492px; width:45px; height:72px; background-position:-298px -492px;
}
#candle-3{
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    left:348px; top:507px; width:37px; height:50px; background-position:-348px -507px;
}
#candle-4{
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    left:482px; top:476px; width:46px; height:75px; background-position:-482px -476px;
}
#candle-5{
    cursor: pointer;
    position: absolute;
    background-repeat: no-repeat;
    left:685px; top:440px; width:49px; height:118px; background-position:-685px -440px;
}

.propp-button{
    position: absolute;
    background-repeat: no-repeat;
    cursor: pointer;
}


#lamp{
    position: absolute;
    background-repeat: no-repeat;
    left:445px; top:53px; width:172px; height:429px; background-position:-445px -53px;
}
.key-container{
    grid-area: keys;
    display: flex;
    flex-direction: column;
}

.key-container .key{
    border-width: 3px;
    border: solid;
    border-color: wheat;
    position: static;
    left: 0 !important; 
    top: 0 !important;
}
    


#code-div{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1em;
    border: solid;
    border: black;
    border-radius: 1em;
    background-color: black;
}


  